.logo {
    color: var(--brand-color);
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;


    @media screen and (max-width: 1199px) {
    font-size: 24px;
    line-height: 1.17;
    }    
}