.works-list {
	display: flex;
	flex-wrap: wrap;
	margin: calc(-1 * var(--cards-gap) / 2);

	&__item {
		flex-basis: calc(100% / var(--qty-cards) - var(--cards-gap));
		margin: calc(var(--cards-gap) / 2);
	}
}

// .works-list {
//     display: flex;
//     flex-wrap: wrap;
//     margin-right: calc(-1 *var(--cards-gap));
//     margin-bottom: calc(-1 *var(--cards-gap));

//     &__item {
//         flex-basis: calc(100%/var(--qty-cards) - var(--cards-gap));
//         margin-right: var(--cards-gap);
//         margin-bottom: var(--cards-gap);
//     }

// }
