@media screen and (min-width: 1200px) {
	%section {
		padding-top: 94px;
		padding-bottom: 94px;
	}
}

@media screen and (max-width: 1199px) {
	%section-mobile {
		padding-top: 60px;
		padding-bottom: 60px;
	}
}

%button {
	font-weight: 700;
	font-size: 16px;
	line-height: 1.88;
	letter-spacing: 0.06em;
	border: none;
	border-radius: 4px;
	color: var(--text-white);
	background-color: var(--brand-color);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	cursor: pointer;
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
	transform: scale(1);
	transition: transform 125ms var(--timing-function);
	cursor: pointer;

	&:hover,
	&:focus {
		background-color: var(--button-hover);
		transform: scale(1.05);
	}
}

@media screen and (min-width: 1200px) {
	%title {
		font-weight: 700;
		font-size: 36px;
		line-height: 1.17;
		text-align: center;
	}
}

@media screen and (max-width: 1199px) {
	%title-mobile {
		font-weight: 700;
		font-size: 28px;
		line-height: 1.18;
		text-align: center;
	}
}

%subtitle {
	font-weight: 700;
	font-size: 14px;
	line-height: 1.17;
	text-transform: uppercase;
}
