:root {
	--brand-color: #2196f3;
	--black-logo: #000000;
	--button-hover: #188ce8;

	--title: #212121;
	--text-white: #ffffff;
	--text: #757575;
	--footer-contact: rgba(255, 255, 255, 0.6);

	--header-border: #ececec;
	--projects-border: #eeeeee;

	--main-bg: #ffffff;
	--bg-team-filters: #f5f4fa;
	--bg-hero-footer: #2f303a;
	--bg-hero: #c4c4c4;
	--hero-gradient: rgba(47, 48, 58, 0.4);
	--bg-works: rgba(47, 48, 58, 0.8);
	--bg-backdrop: rgba(0, 0, 0, 0.2);

	--social-links: #afb1b8;
	--bg-footer-icon: rgba(255, 255, 255, 0.1);
	--icon-modal: #212121;

	--cards-gap: 30px;
	--qty-cards: 3;

	--link-transition-color: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
	--timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
