.header {
	background-color: var(--text-white);
	border-bottom: 1px solid var(--header-border);

	@media screen and (min-width: 768px) {
		&__box-links {
			display: flex;
			align-items: center;
			width: 100%;
		}

		&__nav {
			margin-left: 88px;
		}
	}

	@media screen and (min-width: 1200px) {
		&__nav {
			margin-left: 93px;
		}
	}

	&__contacts {
		@media screen and (min-width: 768px) {
			margin-left: auto;
		}

		@media screen and (max-width: 767px) {
			display: flex;
			flex-direction: column-reverse;
		}

		@media screen and (min-width: 1200px) {
			display: flex;
			align-items: center;
			gap: 30px;
		}
	}

	&__logo {
		padding-top: 24px;
		padding-bottom: 25px;
	}

	&__logo--color {
		color: var(--black-logo);
	}

	&__container {
		display: flex;
		align-items: center;
	}
}

// @media screen and (min-width: 481px) and (max-width: 767px) {
//     .header {
//         height: 60px;
//     }

//     .header__logo {
//         position: absolute;
//         left: 15px;
//         top: 0;
//     }

//     .mobile-btn {
//         position: absolute;
//         right: 15px;
//         top:10px;
//     }

// }

@media screen and (min-width: 768px) {
	.mobile-btn {
		display: none;
	}
}

@media screen and (max-width: 767px) {
	.mobile-btn {
		border: none;
		padding: 0;
		z-index: 999;
		background-color: transparent;

		&__icon {
			display: block;
		}

		&:hover &__icon,
		&:focus &__icon {
			fill: var(--brand-color);
		}

		&__icon-cross {
			visibility: hidden;
			opacity: 0;
			pointer-events: none;
			transition: opacity 100ms cubic-bezier(0.4, 0, 0.2, 1), visibility 100ms cubic-bezier(0.4, 0, 0.2, 1);
		}

		&.is-open &__icon-cross {
			visibility: visible;
			opacity: 1;
		}

		&.is-open &__icon-menu {
			visibility: hidden;
			opacity: 0;
			pointer-events: none;
			transition: opacity 100ms cubic-bezier(0.4, 0, 0.2, 1), visibility 100ms cubic-bezier(0.4, 0, 0.2, 1);
		}
	}

	.header {
		// position: relative;

		&__logo {
			padding-top: 16px;
			padding-bottom: 16px;
		}

		&__container {
			justify-content: space-between;
		}

		&__box-links {
			position: fixed;
			display: flex;
			flex-direction: column;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			padding: 32px 40px 48px 40px;
			transform: translateY(100%);
			transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
			background-color: var(--main-bg);
			z-index: 99;
		}

		&__box-links.is-open {
			transform: translateY(0);
		}

		&__nav {
			margin-bottom: auto;
		}

		&__contacts {
			margin-bottom: 48px;
		}
	}
}

.nav-list {
	@media screen and (min-width: 768px) {
		display: flex;
		align-items: center;

		&__link {
			@include fonts(var(--title));

			display: block;
			padding-top: 32px;
			padding-bottom: 32px;

			color: var(--title);
			font-weight: 500;
			line-height: 1.14;
			letter-spacing: 0.02em;

			transition: var(--link-transition-color);
		}

		&__item:not(:last-child) {
			margin-right: 50px;
		}
	}

	&__link {
		@media screen and (max-width: 767px) {
			@include fonts(var(--title), $lh: 1.18);
			display: inline-block;
			padding-top: 16px;
			padding-bottom: 16px;
			font-size: 40px;
		}
	}
}

.nav-list__link {
	&:hover,
	&:focus {
		color: var(--brand-color);
	}
}

.nav-list__link--current {
	position: relative;
	color: var(--brand-color);

	@media screen and (min-width: 768px) {
		&::after {
			content: "";
			display: block;
			position: absolute;
			bottom: 0;
			width: 100%;
			height: 4px;
			border-radius: 2px;
			background-color: var(--brand-color);

			animation: changeSize 400ms linear 200ms backwards;
		}
	}
}

@media screen and (min-width: 768px) {
	@keyframes changeSize {
		0% {
			transform: scaleX(0);
		}

		100% {
			transform: scaleX(1);
		}
	}
}

.contacts {
	&__link {
		display: block;

		&:hover,
		&:focus {
			color: var(--brand-color);
		}

		@media screen and (min-width: 768px) {
			padding-top: 5px;
			padding-bottom: 5px;
			font-size: 12px;

			@include fonts(var(--text));
		}

		@media screen and (min-width: 1200px) {
			padding-top: 32px;
			padding-bottom: 32px;
			font-size: 14px;
		}

		@media screen and (max-width: 767px) {
			@include fonts(var(--text), $lh: 1.17, $trans: var(--link-transition-color));
			display: inline-block;
			padding-top: 16px;
			padding-bottom: 16px;
			font-size: 24px;
		}
	}

	&__link--tel {
		@media screen and (max-width: 767px) {
			@include fonts(var(--brand-color), $lh: 1.18, $trans: var(--link-transition-color));

			font-size: 34px;
		}
	}

	&__icon-envelope {
		width: 14px;
		height: 10px;

		@media screen and (max-width: 767px) {
			display: none;
		}

		@media screen and (min-width: 1200px) {
			width: 16px;
			height: 12px;
		}
	}

	&__icon-smartphone {
		width: 10px;
		height: 14px;

		@media screen and (max-width: 767px) {
			display: none;
		}

		@media screen and (min-width: 1200px) {
			width: 10px;
			height: 16px;
		}
	}

	&__icon {
		margin-right: 10px;
		fill: currentColor;

		@media screen and (min-width: 768px) {
			vertical-align: middle;
		}
	}
}
